<form
        method="post"
        action="{{ path(route, param) }}"
        onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément ?');"
>
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ id) }}">
    <button class="btn btn-danger my-2">{{ button_label|default('Supprimer cet élément') }}</button>
</form>