<form
        method="post"
        action="{{ path(route, param) }}"
        onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément ?');"
>
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ id) }}">
    <button class="btn-outline border-0">
        <i class="far fa-trash-alt" style="font-size: 1.5em; color: red"></i>
    </button>
</form>