<footer class="footer mt-auto" style="color: white">
    <div class="container-fluid text-center bg-primary" style="padding: 20px;">
        <span class="text-muted" >
            Développé par <a href="https://raymondloua.com" style="color: white; text-decoration: none">Raymond LOUA</a>
        </span>
    </div>
</footer>